
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<!-- Main Container -->
<div class="main-container container pt-3 h-100">
    <div class="mb-3 auth-form-container">
        <h2>Đăng nhập</h2>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Vui lòng email của bạn" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Vui lòng nhập mật khẩu" />
        </div>
        <button class="btn btn-dark w-100 p-3 mb-3">Đăng nhập</button>
        <div class="text-secondary">
            Quên mật khẩu ?
            <a href=""
               class="link-primary link-underline link-underline-opacity-0">Khôi phục mật khẩu</a>
        </div>
        <div class="text-secondary">
            Chưa có tài khoản ?
            <a href="/Auth/Register"
               class="link-primary link-underline link-underline-opacity-0">Tạo tài khoản mới</a>
        </div>
        <div class="mt-5">
            <a href="/"
               class="link-dark link-underline link-underline-opacity-0">
                <i class="fa-solid fa-chevron-left"></i> Quay về trang
                chủ
            </a>
        </div>
    </div>

    <!-- List container -->
</div>
<!-- Main Container -->

