
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<!-- Main Container -->
<div class="main-container container pt-3 h-100">
    <div class="mb-3 auth-form-container">
        <h2>Đăng ký</h2>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   placeholder="Vui lòng nhập email của bạn" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   placeholder="Vui lòng nhập mật khẩu" />
        </div>
        <div class="mb-3">
            <label for="passowrd-confirm" class="form-label">Xác nhận mật khẩu</label>
            <input type="password"
                   class="form-control"
                   id="password-confirm"
                   name="passwordConfirm"
                   placeholder="Xác nhận mật khẩu" />
        </div>
        <button class="btn btn-dark p-3 mb-3">Đăng ký</button>
        <div class="text-secondary">
            Đã có tài khoản ?
            <a href="/Auth/Login"
               class="link-primary link-underline link-underline-opacity-0">Đăng nhập</a>
        </div>
        <div class="mt-5">
            <a href="/"
               class="link-dark link-underline link-underline-opacity-0">
                <i class="fa-solid fa-chevron-left"></i> Quay về trang
                chủ
            </a>
        </div>
    </div>
    <!-- List container -->
</div>
<!-- Main Container -->
