@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<div class="main-container container pt-3 h-100">
    <div class="mb-3 auth-form-container align-items-center justify-content-center d-flex flex-column">
        <i class="fa-regular fa-circle-check mb-3"
           style="font-size: 100px"></i>
        <h2 class="mb-3">Đặt lại mật khẩu thành công !</h2>
        <p>
            Mật khẩu của bạn đã được đặt lại. Vui lòng <a asp-page="./Login" class="link-primary link-underline link-underline-opacity-0">đăng nhập</a>.
        </p>
    </div>
</div>
